{% extends 'blog/base.html' %}
<!--  이 두 구문의 순서가 중요함.  !-->
  {% block content %}

    <div class="contents">
      <h1>Add Problem</h1>
      <table>
        <tr>
          <td>게임 번호</td>
          <td>문제 순서</td>
          <td>문제 번호</td>
          <td>사용 언어</td>
          <td>문제 삭제</td>
        </tr>
        {% for prob in problem %}
          <tr>
              <td> {{ prob.gameset.gameset }} </td>
              <td> {{ prob.rule_num }} </td>
              <td> {{ prob.problem }} </td>
              <td> {{ prob.language }} </td>
              <td><a href="{% url 'remove_problem' pk=game.pk rule=prob.rule_num %}" class="top-menu"><span class="glyphicon glyphicon-minus"></span></a>
              </td>
          </tr>
        {% endfor %}
      </table>

      <form method="POST" class="post-form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="save btn btn-default">Save</button>
      </form>
    </div>

    <button onclick = "location.href = '{% url 'show_game' pk=game.pk %}' "
     class="save btn btn-default" >Back</button>

  {% endblock content %}
