{% extends "blog/base.html" %}

{% block content %}

<!-- Banner -->
	<section id="banner">
		<div class="content">
			<header>
				<h1>Hi, I’m Seonghwa<br />
				This is my blog</h1>
				<p>made by Django Framework</p>
				<p>안녕하세요? 성화의 블로그입니다.</p>
			</header>
			<p></p>
			<br><br><br><br>
			<ul class="actions">
				<li><a href="{% url 'post_about_me'%}" class="button big">About me</a></li>
			</ul>
		</div>
		<span class="image object">
			{% load static %}
			<img src="{% static 'images/image1.jpg' %}" alt="" />
		</span>
	</section>

	<h2> To do </h2>
	<table>
		<tr>

			<td><b>구현해야 하는 기능</b></td>
			<td><b>구현 여부</b></td>
			<td><b>비고</b></td>

		</tr>
		<tr>
			<td>에디터, 페이지네이션</td>
			<td>O</td>
			<td></td>
		</tr>
		<tr>
			<td>포스트에 태그, 이미지/파일 업로드 기능</td>
			<td>X</td>
			<td>CKEditor 문서 더 읽어보기</td>
		</tr>
		<tr>
			<td>블로그 조금 더 이쁘게 커스터마이징하기ㅋ</td>
			<td>X</td>
			<td></td>
		</tr>
		<tr>
			<td>서버에 cron tab 설치, 파서 실행시키기</td>
			<td>X</td>
			<td></td>
		</tr>
		<tr>
			<td>쇼핑몰 앱 구상</td>
			<td>X</td>
			<td>페이지 에디팅, 결제모듈 공부</td>
		</tr>
		<tr>
			<td>SCCC 홈페이지 개발</td>
			<td>X</td>
			<td>hustoj : php 공부</td>
		</tr>
	</table>
	<div class="progress">
	  <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 16%;">
	    16.66%
	  </div>
	</div>

	<!-- Section -->
		<section>
			<header class="major">
				<h2>Applications</h2>
			</header>
			<div class="features">
				<article>
					<span class="icon fa-diamond"></span>
					<div class="content">
						<h3><a href="{% url 'post_list'%}">Read Article</a></h3>
						<p>성화가 포스팅한 글을 읽을 수 있습니다.</p>
					</div>
				</article>
				<article>
					<span class="icon fa-paper-plane"></span>
					<div class="content">
						<h3><a href="{% url 'football_list'%}">EPL Live Ranking</a></h3>
						<p>English Premeir League의 순위표를 확인할 수 있습니다.</p>
					</div>
				</article>
				<article>
					<span class="icon fa-rocket"></span>
					<div class="content">
						<h3>Shopping Mall</h3>
						<p>현재 구상중인 기능입니다.</p>
					</div>
				</article>
				<article>
					<span class="icon fa-signal"></span>
					<div class="content">
						<h3>Game</h3>
						<p>추후 가볍게 즐길 수 있는 웹 게임도 개발 예정입니다.</p>
					</div>
				</article>
			</div>
		</section>

{% endblock %}
