{% extends 'blog/base.html' %}
<!--  이 두 구문의 순서가 중요함.  !-->
    {% block content %}
    	<div class="about-me">
	    	I'm Seonghwa Lee.<br>
	    	I love to make something new. This blog is one of my creation.<br>
	    	I love to play soccer. Someday I want to be a football manager. Right now I'm a defender in Team Imhotep<br>
	    	I enjoy problem solving which is using algorithm.<br>
	    	I have been solved problem since 2005 when I was 5th elementry school.<br>
	    	My near dream is making my own business. Using my technological knowledge. <br>
	    	Will you join with me?<br>
	    </div>
    {% endblock content %}
