{% extends 'blog/base.html' %}
<!--  이 두 구문의 순서가 중요함.  !-->
  {% block content %}

  <div class="contents">
    <h1>Problem Game</h1>
  </div>
  <div id ="problemset">
    <div class="container">
      <div class="row">
        <div class="col-sm-3">
          <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Mind-Map-Paper-icon.png">
          <p><a href = "{% url 'show_game'%}">게임 1</a></p>
        </div>
        <div class="col-sm-3">
          <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Mind-Map-Paper-icon.png">
          <p>게임 2</p>
        </div>
        <div class="col-sm-3">
          <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Mind-Map-Paper-icon.png">
          <p>게임 3</p>
        </div>
        <div class="col-sm-3">
          <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Mind-Map-Paper-icon.png">
          <p>게임 4</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <img src="http://icons.iconarchive.com/icons/webalys/kameleon.pics/256/Mind-Map-Paper-icon.png">
          <p>게임 5</p>
        </div>
        <div class="col-sm-3">
          <img src="http://icons.iconarchive.com/icons/graphicloads/colorful-long-shadow/256/Plus-icon.png">
          <p><a href = "{% url 'new_game'%}">게임 추가</a></p>
        </div>
      </div>
    </div>
  </div>

  {% endblock content %}
