{% extends 'blog/base.html' %}
<!--  이 두 구문의 순서가 중요함.  !-->
  {% block content %}

    <div id="game_info">
      <h1>Show Game</h1>
      <h2>게임 {{games.gameset}}</h2>
      <table>
        {% for i in rule_size %}
        <tr>
          {% for j in rule_size %}
            <td>{{i}} {{j}}</td>
          {% endfor %}
        </tr>
        {% endfor %}
      </table>
      <p id="time_left">3시간 50분 남음</p>
      <h2> 기간 </h2>
      {{games.start_date}} ~ {{games.start_date}}
      <h2> 참가자 </h2>
      <a href="#">Martian</a>, king7282, choiking10
      <h2> 보상 </h2>
      문화상품권 5천원!
      <h2> 결과 </h2>
      (끝난 게임의 경우)
       <h3>우승 : Martian</h3>
       <h3>준우승 : king7282</h3>
    </div>

    <button onclick = "location.href = '{% url 'add_problem' pk=games.pk %}' "
     class="save btn btn-default">게임 수정</button>
    <button onclick = "location.href = '{% url 'problem_game' %}' "
     class="save btn btn-default" > 게임 목록으로 </button>

  {% endblock content %}
